
/*精彩手记及猿问*/
.container-types .types-title span.icon-art-l{
    background-position:center -360px ;
}
.container-types .types-title span.icon-art-r{
    background-position:center -396px ;
}
.container-types .wonderful-list{
    margin-left: 0px !important;
    width: 1152px;
    min-width: 560px;
    position: relative;
}
.container-types .wonderful-list .item{
    position: absolute;
    padding: 24px 32px 32px 32px;
    width: 372px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,0.05);
    border-radius: 8px;
    transition: all .3s;
    margin-right: 18px;
    margin-bottom: 18px;
}
.container-types .wonderful-list .item:hover{
    box-shadow: 0 8px 16px 0 rgba(7,17,27,0.1);
}
.container-types .wonderful-list .item a.blue:hover{
    color: #008CC8;
}
.container-types .wonderful-list .item label.topic-label{
    display: inline-block;
    font-size: 12px;
    color:#fff;
    line-height: 24px;
    background:rgba(0,180,60,0.5);
    border-radius: 12px;
    padding: 0 12px;
    margin-bottom: 8px;
}
.container-types .wonderful-list .item .topic-period{
    display: block;
}
.container-types .wonderful-list .item .topic-period .big-tit{
    font-size: 16px;
    color:rgba(0,180,60,0.8);
    line-height: 24px;
    width: 224px;
    transition: all .3s;
}
.container-types .wonderful-list .item .topic-period .big-tit:hover{
    color: #00B43C;
}
.container-types .wonderful-list .item .topic-period img{
    width: 72px;
    height: 72px;
    border-radius: 8px;
    background-color: #f3f5f7;
}
.container-types .wonderful-list .item .topic-content{
    font-weight: 400;
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    margin-top: 12px;
}
.container-types .wonderful-list .item .bottom-info{
    font-size: 12px;
    color: #93999F;
    line-height: 24px;
    margin-top: 12px;
    font-weight: 400;
}
.container-types .wonderful-list .item .bottom-info a{
    transition: all .3s;
}
.container-types .wonderful-list .item .bottom-info span{
    margin-right: 24px;
}
.container-types .wonderful-list .item .green{
    color:rgba(0,180,60,0.6)
}
.container-types .wonderful-list .item a.green:hover{
    color: #00B43C;
}
.container-types .wonderful-list .item .bottom-info .icon-right{
    margin-left: 4px;
}
.container-types .wonderful-list .item .tit-line{
    position:relative;
    background-color: #d9dde1;
    height: 1px;
    margin: 24px 0;
    font-weight: 400;
}
.container-types .wonderful-list .item .tit-line span{
    position:absolute;
    font-size: 12px;
    padding-right: 12px;
    color: #93999f;
    background-color: #fff;
    line-height: 16px;
    top:-8px;
    left: 0;
}
.container-types .wonderful-list .item .review-topic .topic-period{
    margin-bottom: 16px;
}
.container-types .wonderful-list .item .topic-period{
    display: block;
}
.container-types .wonderful-list .item .review-topic .topic-period .big-tit{
    font-size: 14px;
    color: #4D555D;
    transition: all .3s;
}
.container-types .wonderful-list .item .review-topic .topic-period .big-tit:hover{
    color: #00B43C;
}
.container-types .wonderful-list .item label.article-label{
    line-height: 11px;
    margin-bottom: 8px;
    display: inline-block;
    font-size: 12px;
}
.container-types .wonderful-list .item .article-content{
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    text-align: justify;
    word-break: break-all;
    font-weight: 400;
}
.container-types .wonderful-list .item .article-content{
    margin-top: 8px;
    margin-bottom: 0px;
}
.container-types .wonderful-list .item .blue{
    color: rgba(0,140,200,0.6);
}
.container-types .wonderful-list .item label span{
    font-size: 16px;
    vertical-align: text-bottom;
}
.container-types .wonderful-list .item .article-tit .big-tit.hasing{
    width: 224px;
}
.container-types .wonderful-list .item .article-tit .big-tit{
    font-size: 16px;
    color: #07111B;
    line-height: 24px;
    transition: all .3s;
    width: 223px;
}
.container-types .wonderful-list .item .article-tit .big-tit:hover{
    color: #008CC8;
}
.container-types .wonderful-list .item .article-tit img{
    width: 72px;
    height: 48px;
}
.container-types .wonderful-list .item label.wenda-label{
    line-height: 16px;
    margin-bottom: 8px;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
}
.container-types .wonderful-list .wenda-tit{
    display: block;
    transition: all .3s;
}
.container-types .wonderful-list a.wenda-tit:hover{
    color: #00B43C;
}
.container-types .wonderful-list .item .best-label{
    font-size: 12px;
    color: #07111B;
    line-height: 24px;
    display: inline-block;
    margin-top: 8px;
}