html,body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
html,body{
    font:14px/1.5 "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
    color: #1c1f21;
    height: 100%;
    width: 100%;
    min-width: 1200px;
}
body{
    background-color: #f8fafa !important;
    overflow-y: scroll;
    padding-top: 0;
}
#header{
    background-color: #ffffff;
    width: 100%;
    height: 72px;
}
#header #logo{
    float: left;
    margin: 0 20px;
    height: 72px;
    width: 140px;
}

#header #logo a img{
    width: 180px;
    height: 72px;
}
ul{
    list-style: none;
    display: block;
    margin: 0!important;
}
#header .nav-item li{
    float: left;
}
#header .nav-item li a{
    color: #4D555D;
    padding: 0 20px;
    display: block;
    text-align: center;
    font-size: 16px;
    height: 72px;
    line-height: 72px;
    position: relative;
    /*背景颜色过度时间*/
    transition: background-color 0.3s;
}
@media screen and (max-width:1479px) {
    .nav-item li > a {
        padding: 0 10px !important;
    }
}
@media screen and (max-width:1200px) {
    .nav-item li > a {
        padding: 0 8px !important;
    }
}
:link {
    text-decoration: none;
}
#header .nav-item li a:hover{
    color: #1c1f21;
    text-decoration: none;
}
#header .nav-item li a .icn-new{
    position: absolute;
    display: inline-block;
    top: 14px;
    width: 16px;
    height: 16px;
    background: url(images/new.png) no-repeat 0 0;
}
i{
    font-style: italic;
}
#header #login-area .header-unlogin > li{
    float: left;
}
#header #login-area .app-download{
    line-height: 72px;
    color: rgba(255,255,255,0.6);
}
.app-download{
    position: relative;
}
#header #login-area{
    float: right;
    position: relative;
    height: 72px;
}
div{
    background-size: cover;
}
div{
    display: block;
}


#header #login-area .app-download > a{
    padding: 0 15px;
    font-size: 14px;
    color: #71777d !important;
}
a:hover{
    text-decoration: none !important;
}
#header #login-area .header-unlogin .app-download>a :hover{
    color: #f01414;
    text-decoration: none;
}
#header #login-area .header-unlogin .shop-cart :hover{
    color: #f01414;
}
.app-download .app-load-box{
    position: absolute;
    right: 0;
    top:100%;
    width: 304px;
    padding: 10px 24px 22px;
    box-sizing: border-box;
    background-color: #fff;
    color: #4D555D;
    line-height: 16px;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,0.2);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-size: 12px;
    z-index: 1;
}
.clearfix:after{
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.app-download .app-load-box h4{
    margin: 12px 0;
    font-size: 14px;
    color: #1c1f21;
    text-align: center;
    line-height: 22px;
}
.app-download .app-load-box img{
    width: 108px;
    height: 108px;
}
.l{
    float: left;
}

.r{
    float: right;
}
.app-download .app-load-box .mobile-load-box .r a:hover {
    background-color: black;
}
.app-download .app-load-box a.app-load-btn{
    display: block;
    color: #ffffff;
    width: 132px;
    height: 36px;
    margin-bottom: 8px;
    line-height: 36px;
    background: #4D555D;
    border-radius: 18px;
}
.app-download .app-load-box a.app-load-btn img{
    height: 17px;
    width: 17px;
    margin: 0 8px 0 12px;
    vertical-align: -2px;
}

#header #login-area .header-unlogin{
    padding-left: 0;
    margin: 0;
}
#header #login-area .header-unlogin > li{
    float: left;
}
#header #login-area .shop-cart{
    height: 72px;
    line-height: 36px;
    margin: 18px 0;
}
.shop-cart{
    position: relative;
}
#header #login-area .shop-cart .my-cart{
    top:54px;
}
.shop-cart .my-cart{
    display: none;
    width: 344px;
    padding: 0 16px;
    position: absolute;
    right: 0;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 8px 16px 0 rgba(28,31,33,0.2);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 20;
}
.shop-cart .my-cart .cart-title-box{
    padding: 13px 12px;
    border-bottom: 1px solid #D3D6D9;
}
.shop-cart .my-cart .cart-title-box h2{
    font-weight: bold;
    font-size: 14px;
    color: #1c1f21;
    height: 24px;
    line-height: 24px;
}
.shop-cart .my-cart .cart-title-box h5{
    font-size: 12px;
    color: #9199A1;
    height: 24px;
    line-height: 24px;
}
.shop-cart .my-cart .cart-wrap .clear-cart{
    height: 284px;
    text-align: center;
}
.shop-cart .my-cart .cart-wrap .clear-cart img{
    margin: 36px 0 8px;
    display: inline-block;
    width: 72px;
    height: 72px;
    color: #D3D6D9;
}
.shop-cart .my-cart .cart-wrap .clear-cart h3{
    font-size: 14px;
    color: #545C63;
    text-align: center;
    line-height: 24px;
}
.shop-cart .my-cart .cart-wrap .clear-cart .text{
    margin-bottom: 8px;
    font-size: 12px;
    color: #9199A1;
    text-align: center;
    line-height: 24px;
}
p{
    /*单词断句，在句内断*/
    word-break: break-all;
}
.shop-cart .my-cart .cart-wrap .clear-cart .go-link{
    display: block;
    color: rgba(240,20,20,0.6);
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 4px;
}
.shop-cart .my-cart .more-box{
    padding: 16px 12px;
    border-top: 1px solid #D3D6D9;
}
.shop-cart .my-cart .more-box .show-box{
    height: 32px;
    line-height: 32px;
    font-size: 12px;
}
.shop-cart .my-cart .more-box .text{
    color: #93999f;
}
.shop-cart .my-cart .more-box .text a{
    color: #93999f;
}
.shop-cart .my-cart .more-box .go-cart{
    width: 96px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 16px;
    background: rgba(240,20,20,0.8);
    border-radius: 16px;
    border: none;
    text-align: center;
}
#header #login-area .shop-cart .shop-cart-icon{
    display: inline-block;
    padding:0 18px;
    width: auto;
    box-sizing: border-box;
    border-radius:18px;
    height: 36px;
    line-height: 34px;
    color: #787d82;
    text-align: center;
}
.shop-cart .shop-cart-icon{
    border: 1px solid #D9DDE1 !important;
}
#header #login-area .header-unlogin .header-signin{
    color: #D9DDE1;
    margin-left: 12px;
}
#header #login-area .header-unlogin > li{
    float: left;
}
#header #login-area .header-unlogin .header-signin a{
    color: #4D555D;
    display: inline-block;
    padding: 0 12px;
    line-height: 72px;
    font-size: 14px;
    transition: background-color 0.2s;
}
#header #login-area .header-unlogin .header-signin a:hover{
    color: #f01414;
    text-decoration: none;
}
.search-warp{
    position: relative;
    float: left;
    margin-left: 24px;
}
@media screen and (max-width:1479px){
    .search-warp{
        margin-left: 10px !important;
    }
}

.clearfix:after{
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.search-warp .searchTages{
    z-index: 100;
    bottom: 24px;
    right: 40px;
}
@media screen and (max-width: 1366px) {
    .searchTages{
        display: none !important;
    }
}
.pa{
    position: absolute;
}
a:-webkit-any-link{
    cursor: pointer;
    color: -webkit-link;
    text-decoration: none;
}
.search-warp .searchTages a{
    background-color: #f3f5f7;
    color: #4D555D;
    padding: 3px 8px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
}
.search-warp .search-area{
    border-bottom: 1px solid #D9DDE1;
    z-index: 5;
}
.search-area{
    float: right;
    position: relative;
    height: 46px;
    width: 300px;
    padding-right: 40px;
    zoom: 1;
    transition: width 0.3s;
    margin: 12px 0;
}
@media screen and(max-width: 1479px){
    .search-area{
        width: 140px !important;
    }
}
.search-warp .search-area .search-input{
    color: #71777d;
}
.search-area .search-input{
    padding: 12px 0;
    width: 100%;
    height: 45px;
    line-height: 22px;
    font-size: 22px;
    float: left;
    border: 0;
    outline: none;
    box-sizing: border-box;
}
input{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering:auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    cursor: text;
    font:400 13.333px Arial;
}
.search-area .search-area-result{
    position: absolute;
    left: 0;
    top: 60px;
    margin-bottom: 20px;
    width: 300px;
    border-top: none;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,0.2);
    font-size: 12px;
    overflow: hidden;
    display: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.search-area .btn_search{
    float: left;
    cursor: pointer;
    width: 30px;
    height: 38px;
    text-align: center;
    transition: background-color 0.3s;
}

.search-warp .showhide-search{
    width: 33px;
    height: 23px;
    /*text-align: right;*/
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 24px;
    /*padding: 0 8px;*/
    border-radius: 18px;
}
#nav .search-warp .showhide-search:hover{
    background-color: red;
    cursor: pointer;
}
.search-warp .showhide-search span{
    display: inline-block;
    height: 24px;
    color: #757a7e;
    cursor: pointer;
    line-height: 24px;
    width: 12px;
    padding-left: 12px;;
    padding-top: 3px;
}
.menuwrap{
    background-color: rgba(7,17,27,0.5);
    opacity: 0.525;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 216px;
    height: 444px;
    z-index: 1;
}

#main{
    height: 6515.95px;
    display: block;
    padding: 0;
    min-height: calc(100% - 140px);
}
#main .bk{
    height: 180px;
    /*设置元素的不透明级别*/
    opacity: 0.3;
    width: 100%;
    position: absolute;
    top:0px;
    background-size: cover;
    transition: all .3s;
}
/*实战推荐*/
#main > .bgfff{
    box-shadow: 0 2px 8px 0 rgba(7,17,27,0.06);
}
.bgfff{
    background-color: #fff !important;
}
.banner-box{
    padding-top: 32px;
}
.g-banner{
    background-color: #93999f;
    box-shadow:0 12px 24px 0 rgba(7,17,27,0.2);
    position: relative;
    height: 444px;
    overflow: hidden;
    width: 1152px;
    margin: auto;
    border-radius: 8px;
}
.submenu{
    background: #fff;
    position: absolute;
    left: 216px;
    top:0px;
    width: 768px;
    height: 444px;
    z-index: 581;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    box-sizing: border-box;
}
.f{
    height: 540px;
}
.submenu a:hover{
    color: #f01414;
}
.submenu .innerBox{
    background-color: #fff;
    padding: 12px 48px 32px;
    position: relative;
    min-height: 150px;
    height: 194px;
}
.recomment-box{
    position: absolute;
    bottom: 0;
    background: #F8FAFC;
    padding: 36px 0 0 48px;
    width: 768px;
    height: 228px;
}

.recomment-box .banner-course-card{
    width: 312px;
    height: 60px;
    margin-right: 48px;
    margin-bottom: 36px;
}
.recomment-box a{
    display: block;
    width: 100%;
    height: 100%;
}
.recomment-box .banner-course-card img{
    width: 64px;
    height: 42px;
    border-radius: 4px;
    background-color: #ccc;
}
.recomment-box .banner-course-card .course-card{
    margin-left: 16px;
    width: 232px;
    height: 41px;
}
.recomment-box .banner-course-card .course-card .course-card-name{
    width: 232px;
    font-size: 12px;
    color: #07111B;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
}
.course-card-price{
    font-weight: bold;
    /*width: 51px;*/
    height: 20px;
    line-height: 20px;
    text-align: left;
}
.recomment-box .banner-course-card .course-card .course-card-dot .imv2-dot_samll{
    width: 14.5px;
    height: 21px;
    text-align: center;
}
.recomment-box .banner-course-card .course-card .course-card-info{
    font-size: 12px;
    color: #4D555D;
    line-height: 20px;
    text-align:left;
}
.recomment-box .banner-course-card .course-card .course-card-info img{
    width: 12.2px;
    height: 13.4px;
}
.submenu .subinnerBox{
    overflow: hidden;
    box-sizing: border-box;
}
.submenu .banner-line{
    position: relative;
    height: 1px;
    margin: 35px 0 23px 0;
    background-color: rgba(77,85,93,0.08);
}
.submenu .banner-line span{
    position: absolute;
    top: -12px;
    left: 0;
    padding-right: 12px;
    font-size: 14px;
    color: #f20d0d;
    line-height: 24px;
    background-color: #fff;
}
.bold{
    font-weight: 700 !important;
}
.mr10{
    margin-right: 10px !important;
}
.submenu .tag-box{
    font-size: 0;
}
.submenu .tag-box a{
    margin-bottom: 16px;
    font-size: 14px;
    color: #4D555D;
    line-height: 22px;
    margin-right: 24px;
    display: inline-block;
}
.submenu .tag-box a:hover{
    text-decoration: none;
    color: red;
}
.hide{
    display: none;
}
.menuContent{
    position: relative;
    float: left;
    width: 216px;
    height: 444px;
    z-index: 2;
    padding-top: 12px;
    box-sizing: border-box;
    background: #2b333b;
    border-bottom-left-radius: 4px;
    font-weight: 400;
}
.menuContent .item{
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    cursor: pointer;
    padding-left: 12px;
    position: relative;
}
.menuContent .item > a{
    display: block;
    color: rgba(255,255,255,0.6);
    padding: 0 16px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    height: 60px;
    transition: all .1s;
}
.menuContent .item a:hover{
    text-decoration: none;
    color: white;
    background-color: #9199A1;
}

.menuContent .item .group{
    font-size: 14px;
}
.menuContent .item img{
    position: absolute;
    right: 8px;
    top:21px;
    width: 6px;
    height: 6px;
    margin: 5px;
    color: rgba(255,255,255,0.5);
    font-size: 16px;
}
.g-banner .g-banner-content{
    position: relative;
    float: left;
    width: 936px;
}
.g-banner .g-banner-content .g-banner-box{
    position: relative;
    height: 316px;
}
a:link, a:visited{
    color: #1c1f21;
}
:link{
    text-decoration: none;
}
.g-banner .g-banner-box > a:first-child .banner-slide{
    display: block;
}
.g-banner .banner-slide{
    position: absolute;
    width: 936px;
    height: 316px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center 0;
}
.g-banner .banner-slide img{
    width: 100%;
    height: 100%;
}
#myCarousel .carousel-indicators{
    position: absolute;
    left: 50%;
    z-index: 15;
    width:144%;
    margin-bottom: -8px;
}
#myCarousel .carousel-control .glyphicon-chevron-left{
    margin-top: -8px;
    font-size: 15px;
    left: 12%;
    color: #dbdbdb;
}
#myCarousel .carousel-control .glyphicon-chevron-right{
    margin-top: -8px;
    font-size: 15px;
    right: 12%;
    color: #dbdbdb;
}
#myCarousel .carousel-indicators li{
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #1c1f21;
}
#myCarousel .carousel-indicators .active{
    width: 10px;
    height: 10px;
    border-radius: 8px;
    background-color: white;
}
 #myCarousel{
    height: 316px;
}
.path-banner{
    position: relative;
    height: 128px;
    padding: 0 18px;
    overflow: hidden;
    box-shadow: 0px 4px 8px 0px rgba(7,17,27,0.1);
    background-color: #fff;
    text-align: center;
}
.path-banner > a{
    float: left;
    font-size: 0;
    display: block;
    width: 20%;
    height: 128px;
    overflow: hidden;
    transition: all .3s;
}
.path-banner .i-web{
    background-position: center 0;
}
.path-banner i{
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url("images/path-2019-1.png") no-repeat;
    background-size: 100%;
    margin-top: 22px;
}
.path-banner .tit{
    font-size: 14px;
    color: #07111B;
    letter-spacing: 1px;
    margin-top: 4px;
}
.path-banner .desc{
    font-size: 12px;
    color: #93999f;
    line-height: 16px;
    margin-top: 2px;
    font-weight: 400;
}
.path-banner .i-web{
    background-position:center 0px ;
}
.path-banner .i-java{
    background-position:center -36px ;
}
.path-banner .i-python{
    background-position:center -72px ;
}
.path-banner .i-android{
    background-position:center -108px ;
}
.path-banner .i-fullstack{
    background-position:center -144px ;
}
.path-banner::before{
    content: " ";
    background: url("images/new-path.png") no-repeat;
    width: 68px;
    height: 68px;
    position: absolute;
    left: 0;
    top:0;
}
/*实战推荐*/
.container-types{
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 36px 0 48px;
}
.container-types .types-title{
    position: relative;
    font-size: 14px;
    color: #93999F;
    letter-spacing: 0.6px;
    line-height: 36.25px;
    text-align: center;
    margin:0;
    /*margin-top: 24px;*/
    /*margin-left: -18px;*/
}
h3{
    font-weight: 400;
}
.container-types .types-title em{
    font-size: 20px;
    font-weight: 600;
    color: #4D555D;
    margin: 0 3px;
}
.container-types .types-title .tit-icon-em{
    display: inline;
    width: 20.7px;
    height: 30.15px;
}
em{
    font-style: normal;
}
.container-types .types-title span .icon-shizhan-l{
    background-position: center 0;
}
.container-types .types-title .tit-icon-l{
    margin-right: 24px;
}
.container-types .types-title .tit-icon{
    display: inline-block;
    vertical-align: bottom;
    width: 56px;
    height: 36px;
    background: url("images/icon.png") no-repeat;
    background-size: 100%;
}
.container-types .types-title span.icon-shizhan-r{
    background-position: center -36px;
}
.container-types .types-title .tit-icon-r{
    margin-left: 24px;
}
.container-types .types-content{
    margin-top: 24px;
    margin-left: -18px;
    /*height: 263.98px;*/
}
.container-types .index-card-container{
    float: left;
    margin-left: 18px;
    border-radius: 4px;
    margin-bottom: 12px;
    width: 216px;
    height: 252px;
    padding: 0;
}
.course-card-container{
    width: 216px;
    height: 252px;
    position: relative;
    transition: .3s all linear;
    overflow: visible !important;
}
.course-card-container a:hover{
    text-decoration: none;
    color: red;
}
.course-card-container .course-stat{
    background-color:#ffaa00 ;
    background-image: linear-gradient(90deg,#ffaa00 17%,#f76b1c 100%);
}
.course-card-container .course-stat{
    position: absolute;
    border:2px solid #fff;
    border-radius: 12px;
    top:8px;
    left: -9px;
    z-index: 4;
    font-family: 'dincondm';
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    padding: 0 8px;
}
.course-card-container .course-card-top.hashadow{
    overflow: hidden;
}
.course-card-container .course-card-top{
    width: 216px;
    height: 120px;
    position: relative;
    border-radius: 8px;
    transition: all .3s;
}
.course-card-container .course-card-top .course-banner{
    width: 100%;
    height: 100%;
    background-color: #f3f5f7;
    border-radius: 8px;
}
.course-card-container .course-card-top .course-label{
    position:absolute;
    bottom: 6px;
    left: 8px;
    font-size: 12px;
    color: #ffffff;
    line-height: 16px;
}
.course-card-container .course-card-top .course-label label{
    display: inline-block;
    background: rgba(28,31,33,0.6);
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 2px;
    margin-right: 0px;
    font-weight: 200;
}
.course-card-container .course-card-content{
    width: 216px;
    height: 162.46px;
    padding: 8px;
    text-align: left;
}
.course-card-container .course-card-content .course-card-name{
    font-size: 16px;
    color: #07111B;
    line-height: 24px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    transition: all .3s;
    font-weight: bold;
    height: 46px;
    margin: 0;
}
.course-card-container .course-card-content .course-card-bottom{
    height: 92.5px;
}
.course-card-container .course-card-content .course-card-info{
    font-size: 12px;
    color: #93999F;
    line-height: 24px;
    margin-top: 8px;
    font-weight: 400;
    text-align: left !important;
}
.course-card-container .course-card-content .course-card-info span{
    display: inline-block;
    margin-right: 12px;
}
.course-card-container .course-card-content .course-card-info .course-star-box{
    color: rgba(255,153,0,0.4);
    margin-right: 0;
}
.course-card-price{
    font-size: 12px;
    color: #4D555D;
    font-weight: bold;
}
.course-card-container .course-card-price{
    color: #4D555D;
}
.course-card-container .cost-price {
    margin-left: 5px;
    color: #4D555D;
    text-decoration: line-through;
}
.course-card-price .sales-tip{
    box-sizing: border-box;
    background: rgba(242,13,13,0.6);
    border-radius: 4px;
    color: #fff;
    padding: 0 4px;
    display: inline-block;
    text-align: center;
    position: relative;
}
/*新上好课*/
#main > .bg000{
    box-shadow: 0 2px 4px 0 rgba(7,17,27,0.06);
}
.container-types .types-title span.icon-new-l{
    background-position: center -72px;
}
.container-types .types-title .tit-icon-l{
    margin-right: 24px;
}
.container-types .types-title span.icon-new-r{
    background-position: center -108px;
}
.container-types .types-title .tit-icon-r{
    margin-left: 24px;
}
/*新手入门*/
.container-types .types-title span.icon-job-l{
    background-position: center -144px;
}
.container-types .types-title span.icon-job-r{
    background-position: center -180px;
}
.container-types .adsense-box{
    margin-bottom: 36px;
    margin-left: 18px;
    border-radius: 8px;
    transition: all 0.3s;
    text-align: center;
}
.container-types .adsense-box a{
    display: block;
    width: 567px;
    height: 108px;
    border-radius: 8px;
    overflow: hidden;
    padding: 30px 0;
    box-sizing: border-box;
    background: rgba(7,17,27,0.4);
}
.container-types .adsense-box a h3{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    line-height: 28px;
    text-shadow: 0 2px 2px rgba(7,17,27,0.4);
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container-types .adsense-box a p{
    font-size: 12px;
    color: #fff;
    line-height: 16px;
    text-shadow: 0 2px 2px rgba(7,17,27,0.4);
    margin-top: 4px;
}
.course-card-container .course-card-top .course-banner{
    width: 100%;
    height: 100%;
    background-color: #f3f5f7;
    border-radius: 8px;
}
.course-card-container .course-card-top .course-banner .img-up{
    left: 0px;
    top:0;
    width: 216px;
    height: 120px;
    z-index: 3;
}
.course-card-container .course-card-top .course-banner .img-up{
    margin: 0 auto;
    position: absolute;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.course-card-container .course-card-top .course-banner .img-mid{
    top: 4px;
    left: 4px;
    width: 208px;
    height: 120px;
    opacity: 0.4;
    z-index: 2;
}
.course-card-container .course-card-top .course-banner .img-mid{
    margin: 0 auto;
    position: absolute;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.course-card-container .course-card-top .course-banner .img-down{
    top: 8px;
    left: 8px;
    width: 200px;
    height: 120px;
    opacity: 0.2;
    z-index: 1;
}
.course-card-container .course-card-top .course-banner .img-down{
    margin: 0 auto;
    position: absolute;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.course-card-price{
    line-height: 20px;
    text-align: left;
}
/*技能提升*/
.container-types .types-title span.icon-skill-l{
    background-position:center -216px ;
}
.container-types .types-title span.icon-skill-r{
    background-position:center -252px ;
}
/*前沿技术*/
.container-types .types-title span.icon-tech-l{
    background-position:center -288px ;
}
.container-types .types-title span.icon-tech-r{
    background-position:center -324px ;
}
/*精彩手记及猿问*/
.container-types .types-title span.icon-art-l{
    background-position:center -360px ;
}
.container-types .types-title span.icon-art-r{
    background-position:center -396px ;
}
.container-types .wonderful-list{
    margin-left: 0px !important;
    width: 1152px;
    min-width: 560px;
    position: relative;
}
.container-types .wonderful-list .item{
    position: absolute;
    padding: 24px 32px 32px 32px;
    width: 372px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(7,17,27,0.05);
    border-radius: 8px;
    transition: all .3s;
    margin-right: 18px;
    margin-bottom: 18px;
}
.container-types .wonderful-list .item:hover{
    box-shadow: 0 8px 16px 0 rgba(7,17,27,0.1);
}
.container-types .wonderful-list .item a.blue:hover{
    color: #008CC8;
}
.container-types .wonderful-list .item label.topic-label{
    display: inline-block;
    font-size: 12px;
    color:#fff;
    line-height: 24px;
    background:rgba(0,180,60,0.5);
    border-radius: 12px;
    padding: 0 12px;
    margin-bottom: 8px;
}
.container-types .wonderful-list .item .topic-period{
    display: block;
}
.container-types .wonderful-list .item .topic-period .big-tit{
    font-size: 16px;
    color:rgba(0,180,60,0.8);
    line-height: 24px;
    width: 224px;
    transition: all .3s;
}
.container-types .wonderful-list .item .topic-period .big-tit:hover{
    color: #00B43C;
}
.container-types .wonderful-list .item .topic-period img{
    width: 72px;
    height: 72px;
    border-radius: 8px;
    background-color: #f3f5f7;
}
.container-types .wonderful-list .item .topic-content{
    font-weight: 400;
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    margin-top: 12px;
}
.container-types .wonderful-list .item .bottom-info{
    font-size: 12px;
    color: #93999F;
    line-height: 24px;
    margin-top: 12px;
    font-weight: 400;
}
.container-types .wonderful-list .item .bottom-info a{
    transition: all .3s;
}
.container-types .wonderful-list .item .bottom-info span{
    margin-right: 24px;
}
.container-types .wonderful-list .item .green{
    color:rgba(0,180,60,0.6)
}
.container-types .wonderful-list .item a.green:hover{
    color: #00B43C;
}
.container-types .wonderful-list .item .bottom-info .icon-right{
    margin-left: 4px;
}
.container-types .wonderful-list .item .tit-line{
    position:relative;
    background-color: #d9dde1;
    height: 1px;
    margin: 24px 0;
    font-weight: 400;
}
.container-types .wonderful-list .item .tit-line span{
    position:absolute;
    font-size: 12px;
    padding-right: 12px;
    color: #93999f;
    background-color: #fff;
    line-height: 16px;
    top:-8px;
    left: 0;
}
.container-types .wonderful-list .item .review-topic .topic-period{
    margin-bottom: 16px;
}
.container-types .wonderful-list .item .topic-period{
    display: block;
}
.container-types .wonderful-list .item .review-topic .topic-period .big-tit{
    font-size: 14px;
    color: #4D555D;
    transition: all .3s;
}
.container-types .wonderful-list .item .review-topic .topic-period .big-tit:hover{
    color: #00B43C;
}
.container-types .wonderful-list .item label.article-label{
    line-height: 11px;
    margin-bottom: 8px;
    display: inline-block;
    font-size: 12px;
}
.container-types .wonderful-list .item .article-content{
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    text-align: justify;
    word-break: break-all;
    font-weight: 400;
}
.container-types .wonderful-list .item .article-content{
    margin-top: 8px;
    margin-bottom: 0px;
}
.container-types .wonderful-list .item .blue{
    color: rgba(0,140,200,0.6);
}
.container-types .wonderful-list .item label span{
    font-size: 16px;
    vertical-align: text-bottom;
}
.container-types .wonderful-list .item .article-tit .big-tit.hasing{
    width: 224px;
}
.container-types .wonderful-list .item .article-tit .big-tit{
    font-size: 16px;
    color: #07111B;
    line-height: 24px;
    transition: all .3s;
    width: 223px;
}
.container-types .wonderful-list .item .article-tit .big-tit:hover{
    color: #008CC8;
}
.container-types .wonderful-list .item .article-tit img{
    width: 72px;
    height: 48px;
}
.container-types .wonderful-list .item label.wenda-label{
    line-height: 16px;
    margin-bottom: 8px;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
}
.container-types .wonderful-list .wenda-tit{
    display: block;
    transition: all .3s;
}
.container-types .wonderful-list a.wenda-tit:hover{
    color: #00B43C;
}
.container-types .wonderful-list .item .best-label{
    font-size: 12px;
    color: #07111B;
    line-height: 24px;
    display: inline-block;
    margin-top: 8px;
}
/*精英名师模块*/
.elite-bg{
    background: #f3f5f7 url("images/bg01.jpg") no-repeat center center;
    background-size: cover;
    height: 408px;
}
.container-types{
    width: 1195px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    padding: 36px 10px 48px;
}
.container-teacher-types .types-title{
    color: rgba(255,255,255,0.4);
}
.container-types .types-title span.icon-teacher-l{
    background-position: center -432px;
}
.container-types .types-title span.icon-teacher-r{
    background-position: center -468px;
}
.container-types .types-title .types-title-more{
    position:absolute;
    height: 20px;
    top: 8px;
    right: 10px;
    font-size: 12px;
    line-height: 36px;
}
.elite-bg .types-title-more{
    transition: all .3s;
    color: rgba(255,255,255,0.6) !important;
}
.container-types .types-title .types-title-more span{
    float: left;
    margin-right: 4px;
    line-height: 20px;
}
.types-title .types-title-more .imv2-arrow2_r{
    float: left;
    margin-right: 4px;
    line-height: 20px;
}
.container-teacher-types .types-title em{
    color: #fff;
}

#main > .bgfff{
    box-shadow: 0 2px 8px 0 rgba(7,17,27,0.06);
}
.bgfff{
    background-color: #fff !important;
}
.container-types .types-title span.icon-star-l{
    background-position: center -504px;
}
.container-types .types-title span.icon-star-r{
    background-position: center -540px;
}
.container-types .star-list .lead-list{
    width: 544px;
    margin:38px auto 48px;
}
.container-types .star-list .lead-list dd{
    width: 136px;
    text-align: center;
    float: left;
}
.container-types .star-list .lead-list .lead-item-photo{
    width: 56px;
    height: 56px;
    margin: 0 auto;
    position: relative;
}
.container-types .star-list .lead-list .lead-item-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,0.1);
}
.container-types .star-list .lead-list .lead-item-photo span.purple{
    background-position: center 0;
}
.container-types .star-list .lead-list .lead-item-photo span{
    position: absolute;
    width: 26px;
    height: 18px;
    top:-16px;
    left: 15px;
    background: url(images/k00.png) no-repeat;
    background-size: 100%;
}
.container-types .star-list .lead-list .lead-item-name{
    font-size: 14px;
    color: #07111B;
    line-height: 16px;
    margin-top: 8px;
}
.container-types .star-list .lead-list .lead-item-tit{
    font-size: 12px;
    color: #93999f;
    font-weight: 400;
}
.container-types .star-list .lead-list .lead-item-photo span.blue{
    background-position: center -36px;
}
.container-types .star-list .other-list{
    width: 888px;
    margin: auto;
}
.container-types .star-list .other-list dd{
    position: relative;
    float: left;
    border-radius: 48px;
    font-size: 0;
    margin-right: 28px;
    margin-bottom: 24px;
    box-sizing: border-box;
    border: 2px solid #fff;
    transition: all .3s;
}
.container-types .star-list .other-list dd a{
    display: block;
    width: 100%;
    height: 100%;
}
.container-types .star-list .other-list .marl{
    margin-left: 40px !important;
}
.container-types .star-list .other-list img{
    height: 48px;
    width: 48px;
    border-radius: 48px;
    box-sizing: border-box;
    background-color: #f3f5f7;
    border:2px solid #fff;
    margin-bottom:0px;
}
.container-types .star-list .other-list img:hover{
    border:2px solid blue;
}
.container-types .star-list .other-list dd.purple div{
    background: #653ddd;
    height: 102px;
}
.container-types .star-list .other-list dd.blue .cur{
    color: #008CC8;
}
.container-types .star-list .other-list dd div{
    position: absolute;
    border-radius: 8px;
    color: #fff;
    top:-110px;
    left:-83px;
    width: 202px;
    height: 102px;
    text-align: center;
    box-sizing: border-box;
    padding:13px 24px 0px;
}
.container-types .star-list .other-list dd div:hover{
    display: block !important;
}
.container-types .star-list .other-list dd .title{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}
.container-types .star-list .other-list dd .nickname{
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container-types .star-list .other-list dd .desc{
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    font-weight: 400;
}
.container-types .star-list .other-list dd.purple .cur{
    color: #653ddd;
}
.container-types .star-list .other-list dd div .cur{
    position: absolute;
    bottom: -9px;
    font-size: 40px;
    left: 93px;
    line-height: 20px;
}
.container-types .star-list .other-list dd.blue div{
    background: #008CC8;
}

.footer{
    padding: 36px 0;
    height:133.5px;
    background-color: #f8f9fc;
}
.container{
    position: relative;
    width: 1152px;
    height: 61.53px;
    margin: 0 auto;
    padding-right: 0;
    padding-left: 0;
}
.footer .footer-wrap{
    position: absolute;
    width: auto;
    right: 0;
    bottom: 0;
}
.idx-width{
    margin: 0 auto;
}
.footer .footer-sns{
    padding: 0;
}
.footer-sns {
    padding-top: 30px;
    text-align: center;
}
.footer .footer-sns > div:first-child{
    margin-right: 32px;
}
.footer .footer-sns a{
    color: #D9DDE1;
}
.footer-sns a{
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    background-image: url("images/idx-btm.png");
    background-repeat: no-repeat;
    margin: 0 9px;
}
.footer a{
    display: inline-block;
    font-size: 14px;
    color: #4D555D;
    line-height: 28px;
    margin: 0;
}
.footer-sns-weixin{
    position: relative;
    background-position: -52px -221px;
}
.footer-sns-weixin .footer-sns-weixin-expand{
    position: absolute;
    display:none;
    width: 172px;
    height: 212px;
    left: -77px;
    bottom: 40px;
    background: url("images/elevator.png") no-repeat 0 0 ;
}
.footer-sns-weibo{
    background-position: 0 -221px;
}
.hide-text{
    text-indent: 100%;
    white-space: normal;
    overflow: hidden;
}
.footer .footer-sns p{
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    margin-top: 4px;
}
.footer .container .footer-wrap .footer-sns .l a:hover{
    color: #f01414;
}
p{
    word-break:break-all;
}
.footer .footer-link{
    text-align: left;
    border: none;
    padding: 0;
}
.footer-link{
    padding: 25px 0;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #d0d6d9;
}
.footer-link a{
    margin:0 10px;
    color:#99a1a6;
}
.footer .container .footer-link a:hover{
    color: black;
}
.footer a{
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
}
.footer .footer-copyright{
    font-size: 12px;
    padding: 0;
    padding-left: 10px;
    text-align: left;
    margin-top: 8px;
    color: #93999F;
    line-height: 24px;
}
.footer-copyright{
    padding: 20px 0 25px;
    text-align: center;
    color: #b4bbbf;
}
img{
    vertical-align: middle;
    border: 0;
    margin-bottom: 8px;
}

/*右半部分固定弹窗*/
.elevator{
    z-index: 899;
}
.elevator{
    position: fixed;
    padding: 0 16px;
    top:55%;
    margin-top:-140px;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 12px 0px rgba(7,17,27,0.1);
}

.elevator a{
    display: block;
    width: 26px;
    padding: 16px 0;
    font-size: 22px;
    line-height: 20px;
    color: #b5b9bc;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #edf1f2;
}
.elevator .elevator-dist i{
    display: inline-block;
    width: 18px;
    height: 20px;
    background: url(images/m01.png) no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    margin: 2px 0;
}
.elevator a span{
    /*display: none;*/
    font-size: 12px;
    color: #07111B;
    line-height: 14px;
}
.elevator .elevator-msg span:hover{
    display: block !important;
}
.elevator .elevator-app-box{
    position: absolute;
    width: 172px;
    height: 212px;
    bottom: -2px;
    right: 56px;
    transition: opacity 0.25s,transform .3s;
    /*opacity: 0;*/
    transform-origin: 100% 95%;
    background: url("images/m02.png") no-repeat 0 -220px;
}
.elevator .elevator-weixin-box{
    position: absolute;
    width: 172px;
    height: 212px;
    bottom: -4px;
    right: 56px;
    transition: opacity 0.25s,transform .3s;
    transform-origin: 100% 95%;
    background: url("images/m02.png") no-repeat 0 0;
}
.elevator .no-goto{
    border-bottom: none;
}

/*精英模块*/
.swiper-container {
    width: 1152px;
    height: 324px;
    overflow: visible !important;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: content-box;
}
.container-types .swiper-container .swiper-wrapper .swiper-slide{
    width: 216px !important;
    height: 248px !important;
    margin-right: 20px !important;
    margin-top: 30px;
    background-color: #2c264b;
}
.container-types .lecturer-item{
    float: left;
    position: relative;
    width: 216px;
    height: 248px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 4px 8px 0 rgba(7,17,27,0.05);
    border-radius: 12px;
    background-color: #dbdbdb;
    transition: all .3s;
}
.container-types .lecturer-item .lecturer-uimg{
    position: absolute;
    top:-16.6px;
    left: 50%;
    margin-left: -48px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
}
.container-types .lecturer-item .lecturer-name{
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-top: 92px;
    padding: 0 36px;
    white-space: nowrap;
    color: #07111B;
    font-weight: 700;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap:break-word;
    overflow: hidden;
}
.container-types .lecturer-item .lecturer-title{
    display: block;
    font-size: 12px;
    margin-bottom: 12px;
    color: #4D555D;
    height: 24px;
    line-height: 24px;
}
.container-types .lecturer-item .lecturer-p{
    position: relative;
    top:0;
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: #4D555D;
    height: 72px;
    padding: 0 36px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    text-align: justify;
    word-break: break-all;
    font-weight: 400;
}
.swiper-button-next,.swiper-button-prev{
    height: 20px !important;
}
.container-types .lecturer-item:hover{
    background-color: white;
}
.container-types .lecturer-item:hover .lecturer-p{
    position: relative;
    height: 168px;
    top:-92px;
    color: #07111B;
    transition: all .3s;
}
.container-types .lecturer-item:hover .lecturer-uimg{
    width: 56px;
    height: 56px;
    margin-left: -28px;
}
.container-types .lecturer-item:hover .lecturer-name{
    opacity: 0;
}
.container-types .lecturer-item:hover .lecturer-title{
    opacity: 0;
}
.swiper-pagination .swiper-pagination-bullet-active{
    background-color: white;
}
.swiper-button-prev{
    background-image: url("#") !important;
}
.swiper-button-prev{
    position: absolute;
    top:50%;
    width: 48px;
    height: 48px;
    z-index: 10;
    cursor: pointer;
    margin-top: -37px !important;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 8px;
    background-color: rgba(255,255,255,0.1);
}
.swiper-button-prev span{
    font-size: 22px;
    font-weight: bold;
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #8a8a8a;
    z-index:10;
    background-color: rgba(255,255,255,0.1);
    /*border:1px solid #8a8a8a;*/
    border-radius: 50%;
    margin-left: -37px;
}
.swiper-button-prev span:hover{
    background-color: white;
}

.swiper-button-next span{
    font-size: 22px;
    font-weight: bold;
    display: block;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: #8a8a8a;
    z-index:10;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.1);
    /*border:1px solid #8a8a8a;*/
}
.swiper-button-next span:hover{
    background-color: white;
}
.swiper-button-next{
    margin-right: -15px !important;
    background-image: url("#") !important;
    width: 33px !important;
}