$inlineb: inline-block;
$bgcolor: #fff;
body {
  background:#E2EBED;
}

*{
  margin:0;
  padding:0;
  font-family: Lato Light;
  font-weight: 900;
  line-height: 25px;
}

::selection {
  background: #333;
  color: #fff;
}

a{
  text-decoration: none;
  color: #307082;
}

.wrap {
  .page-wrapper {
    background-color:$bgcolor;
    /*height:2000px;*/
    width:800px;
    margin:0 auto;
  }
}

h2 {
  font-weight: 900;
  font: 15px Lato Light;
}

.title {
  margin:20px;
  display:$inlineb;
}

.title h1{
  background:url(./images/logo.gif)no-repeat;
  width: 150px;
  height:50px;
}

.title h2 {
  margin-top:-20px;
  font-weight: 900;
}

#change-style-spring {
  display:$inlineb;
  margin:20px;
  position: relative;
  left:60%;
  top:15%;
}

#change-style-summer {
  display:$inlineb;
  margin:20px;
  position: relative;
  left:60%;
  top:15%;
}

#change-style-autumn {
  display:$inlineb;
  margin:20px;
  position: relative;
  left:60%;
  top:15%;
}

#change-style-winter {
  display:$inlineb;
  margin:20px;
  position: relative;
  left:60%;
  top:15%;
}

.download-css {
  display: $inlineb;
  margin: 20px
}

.banner{
  height:300px;
  width:auto;
  background:url(images/winter.jpg)no-repeat center top;
  position: relative;
  //border-radius: 2em;
}

/*.banner span{
  width: 422px;
  height: 70px;
  color:white;
  font-size: 30px;
  position:absolute;
  top:50px;
  left:65px;
}*/

.content{
  margin:50px 40px;
  height: 71%;
}

.menu {
  display: $inlineb;
  font-size:15px;
  margin-right:184px;
  margin-top:40px;
  vertical-align:top;
}

.menu ul{
  list-style:none;
}

.menu p{
  color:#307082;
  font-weight: 900;
}

.menu h1 {
  font-size:18px;
}

.archives {
  margin-top:50px;
}

.resources {
  margin-top:50px;
}

.content-right {
  display:$inlineb;
  width:350px;
}

.content-right h3{
  margin:40px 0 20px 0;
  font-size:1.5em;
}

.content-right p{
  color: #333;
  font: 15px Lato Light;
  font-weight: 900;
  line-height:25px;
}

.footer {
  margin:20px 0;
  background:#327081;
}

.footer a{
  color:white;
}


#change-style-spring:active~.page-wrapper .banner{
  background:url(images/spring.jpg)no-repeat center top;
}

#change-style-spring:active~.page-wrapper{
  background-color:#4e72b8;
}

#change-style-spring:active~.page-wrapper .footer{
  background:#4e72b8;
}


#change-style-spring:active~.page-wrapper p{
  color:#E2EBED;
}

#change-style-spring:active~.page-wrapper h1{
  color:#E2EBED;
}

#change-style-spring:active~.page-wrapper h2{
  color:#E2EBED;
}

#change-style-spring:active~.page-wrapper h3{
  color:#E2EBED;
  font-size:1.5em;
}

#change-style-spring:active~.page-wrapper span{
  color:#E2EBED;
}

#change-style-spring:active~.page-wrapper a{
  color:#E2EBED;
}

#change-style-spring:active~.page-wrapper *{
  font-family: Lato ltalic;
  font-weight:900;
}



#change-style-summer:active~.page-wrapper{
  background-color:#26A65B;
}

#change-style-summer:active~.page-wrapper .footer{
  background:#26A65B;
}

#change-style-summer:active~.page-wrapper .banner{
  background:url(images/summer.jpg)no-repeat center top;
}
#change-style-summer:active~.page-wrapper p{
  color:#E2EBED;
}

#change-style-summer:active~.page-wrapper h1{
  color:#E2EBED;
}

#change-style-summer:active~.page-wrapper h2{
  color:#E2EBED;
}

#change-style-summer:active~.page-wrapper h3{
  color:#E2EBED;
  font-size:1.5em;
}

#change-style-summer:active~.page-wrapper span{
  color:#E2EBED;
}

#change-style-summer:active~.page-wrapper a{
  color:#E2EBED;
}

#change-style-summer:active~.page-wrapper *{
  font-family: P052, Bold ltalic;
  font-weight:900;
}



#change-style-autumn:active~.page-wrapper .footer{
  background:#26A65B;
}

#change-style-autumn:active~.page-wrapper{
  background-color:#E6A23C;
}

#change-style-autumn:active~.page-wrapper .footer{
  background:#E6A23C;
}

#change-style-autumn:active~.page-wrapper p{
  color:#E2EBED;
}

#change-style-autumn:active~.page-wrapper h1{
  color:#E2EBED;
}

#change-style-autumn:active~.page-wrapper h2{
  color:#E2EBED;
}

#change-style-autumn:active~.page-wrapper h3{
  color:#E2EBED;
  font-size:1.5em;
}

#change-style-autumn:active~.page-wrapper span{
  color:#E2EBED;
}

#change-style-autumn:active~.page-wrapper a{
  color:#E2EBED;
}

#change-style-autumn:active~.page-wrapper .banner{
  background:url(images/autumn.jpg)no-repeat center top;
}

#change-style-autumn:active~.page-wrapper *{
  font-family: Cantarell;
  font-weight:900;
}


#change-style-winter:active~.page-wrapper{
  //background-color:#F5F5F5;
}
#change-style-winter:active~.page-wrapper .banner{
  background:url(images/winter.jpg)no-repeat center top;
}
#change-style-winter:active~.page-wrapper *{
  font-family: Lato Light;
  font-weight:900;
}