$box-color: red;
ul {
  color:$box-color;
}
li {
  color: $box-color;
}

$highlight-color: #F90;
$highlight-border: 1px solid $highlight-color;

ul li {
  border: $highlight-border;
}

div {
  h1 {
    color:green;
  }
  p {
    display:inline-block;
    margin-bottom: 1.4px;
    a {
      &:hover {color:greenyellow;}
    }
  }
}

$border-color: blue;
/*
div {
  border: {
    style: solid;
    width: 1px;
    color: $border-color;
  }
}
div {
  border: 1px solid green;
  left: 0;
  right: 0;
}

.class1 {
  border: 1px solid #333;
}

.class1 a {
  color:red;
}

.class2 {
  @extend .class1;
}


@mixin mixName {
  float:left;
  margin-left: 10px;
}

a {
  @include mixName;
}


@mixin left($value: 10px){
  float:left;
  margin-left:$value;
}

div {
  @include left(100px);
}
*/

@mixin mixName($shadow...){
  box-shadow: $shadow;
}

.box {
  @include mixName(0 2px 2px rgba(0,0,0,.3),0 3px 3px rgba(0,0,0,.3),0 4px 4px rgba(0,0,0,.3));
}