/* 轮播图对应的第一个大的div */
#lunbo{
    /* border:4px solid red; */
    border-radius: 5px;
    width:100%;
    height:476px;
    padding-top: 32px;
    box-shadow: 0 2px 8px 0 rgba(7, 17, 27, 0.06);
}
#lunbo1{
    position: relative;
    width:1152px;
    height:444px;
    margin:auto;
    background-color: #93999f;
    box-shadow: 0 12px 24px 0 rgba(7, 17, 27, 0.2);   
    background-color: #fff;
}