/*右半部分固定弹窗*/
.elevator{
    z-index: 899;
}
.elevator{
    position: fixed;
    padding: 0 16px;
    top:55%;
    margin-top:-140px;
    right: 0;
    background-color: #fff;
    box-shadow: 0px 4px 12px 0px rgba(7,17,27,0.1);
}

.elevator a{
    display: block;
    width: 26px;
    padding: 16px 0;
    font-size: 22px;
    line-height: 20px;
    color: #b5b9bc;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #edf1f2;
}
.elevator .elevator-dist i{
    display: inline-block;
    width: 18px;
    height: 20px;
    background: url("../images/m01.png") no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    margin: 2px 0;
}
.elevator a span{
    /*display: none;*/
    font-size: 12px;
    color: #07111B;
    line-height: 14px;
}
.elevator .elevator-msg span:hover{
    display: block !important;
}
.elevator .elevator-app-box{
    position: absolute;
    width: 172px;
    height: 212px;
    bottom: -2px;
    right: 56px;
    transition: opacity 0.25s,transform .3s;
    /*opacity: 0;*/
    transform-origin: 100% 95%;
    background: url("../images/m02.png") no-repeat 0 -220px;
}
.elevator .elevator-weixin-box{
    position: absolute;
    width: 172px;
    height: 212px;
    bottom: -4px;
    right: 56px;
    transition: opacity 0.25s,transform .3s;
    transform-origin: 100% 95%;
    background: url("../images/m02.png") no-repeat 0 0;
}
.elevator .no-goto{
    border-bottom: none;
}