/* 精彩手记 */
div#sj.jingcaishouji{
    height:1647px;
    box-shadow: 0 2px 4px 0 rgba(7, 17, 27, 0.06);  
    background: #F8F9FC; 
}
#sj #shizhan{
    min-height: 560px;
}
#sjdiv{
    width:1152px;
    height:1500px;
    margin:24px;
    border:1px solid red；
}
div.sj0{
   width:372px;
   padding:24px 32px 32px 24px;
   margin:0 18px 18px 0; 
   background: #FFFFFF;
   box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.05);
   border-radius: 8px;
   position: absolute;
   font-size:14px;
}
div.sj1{
    height:660px;
    left:0px;
    top:0px;
}
div.sj2{
    height:367px;
    left:0px;
    top:680px;
}
div.sj3{
    height:217px;
    left:0px;
    top:1062px;
}
div.sj4{
    height:367px;
    left:391px;
    top:0px;
}
div.sj5{
    height:367px; 
    left:391px;
    top:381px;  
}
div.sj6{
    height:240px; 
    left:391px;
    top:763px; 
}
div.sj7{
    height:241px;  
    left:391px;
    top:1021px; 
}
div.sj8{
    height:140px; 
    left:391px;
    top:1283px; 
}
div.sj9{
    height:343px; 
    left:782px;
    top:0px;   
}
div.sj10{
    height:343px; 
    left:782px;
    top:358px; 
}
div.sj11{
    height:367px; 
    left:782px;
    top:716px; 
}
div.sj12{
    height:196px;
    left:782px;
    top:1098px; 
}
/* 精彩手记左侧第一个ｄｉｖ样式设置 */
/* 热门话题 */
p.sj1p1{   
    font-size: 12px;
    color: #FFFFFF;
    line-height: 24px;
    background: rgba(0, 180, 60, 0.5);
    border-radius: 12px;
    padding: 0 12px;
    margin-bottom: 8px;
    width:90px;
}
/* 带图片的ｄｉｖ */
div.sjimg{
    width: 300px;
    height:70px; 
    position: relative;
    margin:10px;
    font-size: 14px;
}
/* 绿色的字体所在的div */
div.sjimg1{
    /* border:1px solid red; */
    width: 224px;
    display:inline-block;
    height:70px;
}
p.sjimg1p{
    color: rgba(0, 180, 60, 0.8);
    line-height: 24px;
    transition: all .3s;
    width: 224px;    
}
/* 图片所在的div */
div.sjimg2 {
    display:inline-block;
    position: absolute;
    top:0;
    margin-left:10px;
    
}
div.sjimg2 img{
    width: 72px;
    height: 72px;
    border-radius: 8px;
    background-color: #f3f5f7;
}
p.sj1p2{
    font-weight: 400;
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    margin-top: 12px;
    padding:0 8px;
}
p.sjxq{
    color: rgba(0, 180, 60, 0.6);
    text-align: right;
    margin-top:20px;
}
p.sjxq:hover{
    color: rgba(0, 180, 60);
}
#sjhg{
    position: relative;
    background-color: #D9DDE1;
    height: 1px;
    margin: 24px 0;
    font-weight: 400;
}
#sjhg>span{
    position: absolute;
    font-size: 12px;
    padding-right: 12px;
    color: #93999F; 
    /* background-color: #fff; */
    line-height: 16px;
    top: -8px;
    left: 0;
} 
p.ppp{
    color:#4D555D;
    line-height:130%
}
div#pp.sjimg1:hover p{    
    color:rgba(0, 180, 60, 0.6);
}
/* 第一列第二个div */
div.sjimg21{
    /* border:1px solid red; */
    width: 300px;
    display:inline-block;
    height:48px;
    position: relative;
    font-size: 16px;
}
div.sjimg22{
    width: 224px;
    display:inline-block;
    height:48px;
}
p.sjimg2p{
    color: #07111B;
    line-height: 24px;
    transition: all .3s;  
}
p.sjimg2p:hover{
    color: rgba(0, 140, 200);
}
/* 图片所在的div */
div.sjimg23{
    display:inline-block;
    position: absolute;
    top:0;
    right:0;  
}
div.sjimg23 img{
    width: 72px;
    height: 48px;
    border-radius: 8px;
    background-color: #f3f5f7;
}
p span.sjimg2ps{
    color: #93999F;
    margin-right:20px;
}
p span.sjimg2ps3{
    float:right;
}
#sjimg2p2>span.sjimg2ps3{
    color:rgba(0, 140, 200,0.6);
}
#sjimg2p2>span.sjimg2ps3:hover{
    color:rgba(0, 140, 200);
}
/* 第一列第三个div */
#sj3p1s{
    color:rgba(0, 180, 60, 0.6);
}
#sj3p2{
   color:#1c1F21;
   margin:10px 0
}
#sj3p2:hover{
    color:rgba(0, 180, 60);
}