.shange-1 .item-1 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 99%; }
.shange-1 .item-2 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 198%; }
.shange-1 .item-3 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 297%; }
.shange-1 .item-4 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 396%; }
.shange-1 .item-5 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 495%; }
.shange-1 .item-6 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 594%; }
.shange-1 .item-7 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 693%; }
.shange-1 .item-8 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 792%; }
.shange-1 .item-9 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 891%; }
.shange-1 .item-10 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 990%; }
.shange-1 .item-11 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 1089%; }
.shange-1 .item-12 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 1188%; }

.shange-2 .item-1 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 49.5%; }
.shange-2 .item-2 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 99%; }
.shange-2 .item-3 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 148.5%; }
.shange-2 .item-4 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 198%; }
.shange-2 .item-5 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 247.5%; }
.shange-2 .item-6 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 297%; }
.shange-2 .item-7 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 346.5%; }
.shange-2 .item-8 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 396%; }
.shange-2 .item-9 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 445.5%; }
.shange-2 .item-10 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 495%; }
.shange-2 .item-11 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 544.5%; }
.shange-2 .item-12 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 594%; }

.shange-3 .item-1 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 33%; }
.shange-3 .item-2 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 66%; }
.shange-3 .item-3 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 99%; }
.shange-3 .item-4 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 132%; }
.shange-3 .item-5 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 165%; }
.shange-3 .item-6 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 198%; }
.shange-3 .item-7 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 231%; }
.shange-3 .item-8 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 264%; }
.shange-3 .item-9 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 297%; }
.shange-3 .item-10 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 330%; }
.shange-3 .item-11 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 363%; }
.shange-3 .item-12 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 396%; }

.shange-4 .item-1 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 24.75%; }
.shange-4 .item-2 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 49.5%; }
.shange-4 .item-3 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 74.25%; }
.shange-4 .item-4 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 99%; }
.shange-4 .item-5 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 123.75%; }
.shange-4 .item-6 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 148.5%; }
.shange-4 .item-7 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 173.25%; }
.shange-4 .item-8 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 198%; }
.shange-4 .item-9 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 222.75%; }
.shange-4 .item-10 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 247.5%; }
.shange-4 .item-11 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 272.25%; }
.shange-4 .item-12 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 297%; }

.shange-5 .item-1 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 19.8%; }
.shange-5 .item-2 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 39.6%; }
.shange-5 .item-3 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 59.4%; }
.shange-5 .item-4 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 79.2%; }
.shange-5 .item-5 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 99%; }
.shange-5 .item-6 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 118.8%; }
.shange-5 .item-7 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 138.6%; }
.shange-5 .item-8 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 158.4%; }
.shange-5 .item-9 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 178.2%; }
.shange-5 .item-10 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 198%; }
.shange-5 .item-11 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 217.8%; }
.shange-5 .item-12 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 237.6%; }

.shange-6 .item-1 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 16.5%; }
.shange-6 .item-2 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 33%; }
.shange-6 .item-3 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 49.5%; }
.shange-6 .item-4 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 66%; }
.shange-6 .item-5 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 82.5%; }
.shange-6 .item-6 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 99%; }
.shange-6 .item-7 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 115.5%; }
.shange-6 .item-8 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 132%; }
.shange-6 .item-9 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 148.5%; }
.shange-6 .item-10 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 165%; }
.shange-6 .item-11 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 181.5%; }
.shange-6 .item-12 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 198%; }

.shange-7 .item-1 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 14.14286%; }
.shange-7 .item-2 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 28.28571%; }
.shange-7 .item-3 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 42.42857%; }
.shange-7 .item-4 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 56.57143%; }
.shange-7 .item-5 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 70.71429%; }
.shange-7 .item-6 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 84.85714%; }
.shange-7 .item-7 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 99%; }
.shange-7 .item-8 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 113.14286%; }
.shange-7 .item-9 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 127.28571%; }
.shange-7 .item-10 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 141.42857%; }
.shange-7 .item-11 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 155.57143%; }
.shange-7 .item-12 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 169.71429%; }

.shange-8 .item-1 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 12.375%; }
.shange-8 .item-2 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 24.75%; }
.shange-8 .item-3 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 37.125%; }
.shange-8 .item-4 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 49.5%; }
.shange-8 .item-5 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 61.875%; }
.shange-8 .item-6 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 74.25%; }
.shange-8 .item-7 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 86.625%; }
.shange-8 .item-8 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 99%; }
.shange-8 .item-9 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 111.375%; }
.shange-8 .item-10 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 123.75%; }
.shange-8 .item-11 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 136.125%; }
.shange-8 .item-12 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 148.5%; }

.shange-9 .item-1 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 11%; }
.shange-9 .item-2 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 22%; }
.shange-9 .item-3 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 33%; }
.shange-9 .item-4 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 44%; }
.shange-9 .item-5 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 55%; }
.shange-9 .item-6 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 66%; }
.shange-9 .item-7 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 77%; }
.shange-9 .item-8 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 88%; }
.shange-9 .item-9 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 99%; }
.shange-9 .item-10 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 110%; }
.shange-9 .item-11 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 121%; }
.shange-9 .item-12 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 132%; }

.shange-10 .item-1 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 9.9%; }
.shange-10 .item-2 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 19.8%; }
.shange-10 .item-3 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 29.7%; }
.shange-10 .item-4 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 39.6%; }
.shange-10 .item-5 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 49.5%; }
.shange-10 .item-6 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 59.4%; }
.shange-10 .item-7 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 69.3%; }
.shange-10 .item-8 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 79.2%; }
.shange-10 .item-9 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 89.1%; }
.shange-10 .item-10 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 99%; }
.shange-10 .item-11 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 108.9%; }
.shange-10 .item-12 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 118.8%; }

.shange-11 .item-1 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 9%; }
.shange-11 .item-2 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 18%; }
.shange-11 .item-3 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 27%; }
.shange-11 .item-4 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 36%; }
.shange-11 .item-5 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 45%; }
.shange-11 .item-6 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 54%; }
.shange-11 .item-7 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 63%; }
.shange-11 .item-8 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 72%; }
.shange-11 .item-9 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 81%; }
.shange-11 .item-10 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 90%; }
.shange-11 .item-11 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 99%; }
.shange-11 .item-12 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 108%; }

.shange-12 .item-1 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 8.25%; }
.shange-12 .item-2 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 16.5%; }
.shange-12 .item-3 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 24.75%; }
.shange-12 .item-4 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 33%; }
.shange-12 .item-5 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 41.25%; }
.shange-12 .item-6 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 49.5%; }
.shange-12 .item-7 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 57.75%; }
.shange-12 .item-8 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 66%; }
.shange-12 .item-9 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 74.25%; }
.shange-12 .item-10 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 82.5%; }
.shange-12 .item-11 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 90.75%; }
.shange-12 .item-12 {
  background: #dbcccc;
  float: left;
  border-style: solid;
  text-align: center;
  width: 99%; }

/*# sourceMappingURL=shange.css.map */
