/* 输入框的样式 */
/* 包括input的div 和搜索图标的div */
#input{
    display: inline-block;
    height:72px;
}
#input1{ 
    line-height:46px;
    width:260px;
    min-width:32px;
    margin:12px 0;
    position:relative;  
    border-bottom:1px solid #D9DDE1;
}
/* java入门*/
#input3{
    position:absolute; 
    bottom: 0px;
    right:30px;
    float:right;
    /* border:1px solid blue; */
    text-align: center;
    /* z-index:1; */
}
#input3 a{
    background-color:#F3F5F7;
    font-size:12px;
    text-decoration:none;
    color:#4D555D;
    border-radius: 12px;
    height:24px;
    padding:3px 8px; 
 }
/* input输入框 */
#input4{
    border:0px;
    outline:none;
    width:100%;     
}
/* 搜索图标 */
#input5{
    font-size:14px;
    color:#757a7e;
    float:right;
    position: absolute;
    top:13px;
    right:0px;
    width:35px;
    line-height:24px;
    text-align: center;
}
