/* 导航栏右侧 */
#login{
    display: inline-block;
    position: absolute;
    right:10px;   
}  
#login a{
    font-family: '微软雅黑';
    cursor: pointer;
    color:#5e5e5e;
    text-decoration:none;
    height:100%;
    text-align: center;
    font-size:14px
}
#login a:hover{
    color:red;
}
/* 下载APP */
#login1{
    width:116px; 
}
/* 点击下载APP后弹出的div */
#app1{
    position: absolute;
    right:240px;
    width: 304px;
    height:190px;
    padding: 10px 24px 22px;
    box-sizing: border-box;
    background-color: #fff;
    color: #4D555D;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.2);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 99999;
    font-size: 12px;
}
#login1 a{
   width:86px;
   padding:0 15px; 
}
#login1 h4{
    margin: 12px 0;
    font-size: 14px;
    color: #1C1F21;
    text-align: center;
    line-height: 22px;
}
#login img{
    width: 108px;
    height: 108px;
    position:relative;
    left:0;
}
#app2{  
    display:inline-block;
    position: relative;
    top:-100px; 
    right:-120px;
    /* border:1px solid red; */
}
#app2 a img{
    height: 15px;
    width: 15px; 
    position: absolute;
    top:7px;
    left:10px;
}
#app2 a{
    display: block;
    color: #fff;
    width: 140px;
    height: 32px;
    margin-bottom: 8px;
    line-height: 36px;
    background: #4D555D;
    border-radius: 18px;
    position: relative;
} 
#app2 a:hover{
    background:black;
    color: #fff !important;
}
#app2 a span{
   text-align: left;
   /* border:1px solid red; */
   position: absolute;
   left:30px;
   top:-4px;
   line-height: 40px;
}

#app2 p{
    padding:0px;
    height:15px;
    position: absolute;
    top:60px;
    left:5px;
    font-size:14px;
}
/* 点击购物车后弹出div */
/* 购物车的超链接 */
#car1 span{
    padding-left:0px;
    padding-right:3px;
}
#login2 a{
    display:inline-block;
    width:104px;
    line-height:35px;
    padding:0 17.5px; 
    border-radius: 18px;
    border:1px solid #D9DDE1; 
}
#car2{
    position: absolute;
    right:120px;
    width: 304px;
    height:320px;
    padding: 10px 24px 22px;
    box-sizing: border-box;
    background-color: #fff;
    color: #4D555D;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.2);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 99999;
    font-size: 12px;
}
#login3 a{
    width:52px;
    padding:0 12px;
}
#login3 span{
    color:#D9DDE1;
}
#car3{
    height:40px;
    line-height:15px;
    padding: 13px 12px;
    border-bottom: 1px solid #D3D6D9;
    font-size:14px;  
}
#car3 #span1{
    font-weight: bold;
    float:left;
}
#car3 #span2{
    float:right;
    color:#9199A1;
}
#car4 .glyphicon{
    width:100%;
    font-size:45px;
    color:#D9DDE1;
    /* border:1px solid red; */
    text-align: center;
    margin:40px 0 2px;
}
#car4 p{
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    margin:5px;
    padding:0px;
    position: relative;
    top:-25px;
}
#car4 :nth-child(3){
    color:#9199A1;
}
#car4 :nth-child(4){
    color:rgba(240,20,20,0.6);
    margin:8px 0;
}
#car4 :nth-child(4):hover{
    color:red;
}
#car4 :nth-child(5){
    color:rgba(240,20,20,0.6);
}
#car4 :nth-child(5):hover{
    color:red;
}
#car4{
    border-bottom: 1px solid #D3D6D9;
}
#car5{     
    position: relative;
    line-height:60px;  
}
#car5 #span3{
    position: absolute;
    top:15px;
    left:20px;
    line-height:35px; 
}
#car5 #span4{
    width:96px;
    line-height:35px;
    color:white;
    background: rgba(240,20,20,0.8);
    border-radius:18px;
    position: absolute;
    top:15px;
    right:10px;
    text-align: center;
}
#car5 #span4:hover{
    background: red;
}