/* ul列表 */
#header ul{
    display:inline-block;
    padding:0px;
    margin:0 0 0 -42px;    /* height:100%; */
}
#header ul li{
    list-style: none;
    display:inline;   
    color:#5e5e5e;
}
#ul li a{
    font-family: '微软雅黑';
    cursor: pointer;
    color:#5e5e5e;
    text-decoration:none;
    height:100%;
    width:100%;
    padding:0 20px;
    text-align: center;
}
#ul li a:hover{
    color:black;
}
@media screen and (max-width:1300px){
    #ul li a{
        padding: 0 8px !important;
        transition: 0.5s;
    }   
}
@media screen and (max-width:1300px){
    #ul .i{
        left:-27% !important;
    }
}
@media screen and (max-width: 1479px){
    #ul li{
        transition: 0.3s;
        margin: 0;
    }
}
/* hot红色 */
#ul .i{
    position: relative;
    display: inline-block;
    left:-30%;
    width: 20px;
    height: 20px;
    background: url(../imgs/n.png) no-repeat 0 0;
}