#footer2{
    width: auto;
    position: absolute; 
    right: 0;
    bottom: 0; 
    text-align: center;
    color:#4D555D;
    font-size: 13px;
}
#weiXin{
    display:inline-block;
    margin-right: 32px;
    
}
#weiBo{
    display:inline-block;   
}
#footer2 a img{
    width:30px;
    height:30px;
    margin-bottom:5px;
}
#weiXin3{
    display: none;
    position: absolute;
    top:-230px;
    right:40px;
    width: 180px;
    height:210px;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #4D555D;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.2);
    border-radius:5px;
    z-index: 99999;
    font-size: 12px;
}
#weiXin3 img{
    display:inline-block;
}